.home_img{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  top:0;
  left: 0;
  padding-top: 60;
}

.home_container{
  position: relative;
  display: grid;
  max-width: fit-content;
  top: 300px;
  padding-left: 50px;
  max-width: 800px;

}

.home_data{
  display: flex;
  flex-direction: column;
}

.home_title{
  font-size: 72px;
  color: white;
  font-weight: 500px;
}

.home_subtitle{
  font-size: 20px;
  color: white  ;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login_button{
  display: inline-block;
  background-color: #E5634B;
  padding: 18px 35px;
  text-align: center;
  justify-content: center;
  max-width: 150px;
  font-weight: 600;
  color: white;
  font-size: 1.2rem;
  border-radius: 50px;
  transition: background-color color 0.5s ease;
  text-decoration: none;
  border: none;
}

.login_button:hover{
  cursor: pointer;
  background-color: white;
  color: #E5634B;
}

.data{
  display: none;
}

/* Make the button round and increase its size */
.g-signin2 {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}




.g-signin2 > div > div {
  border-radius: 50px !important;
}

.g-signin2 > div > div > span {
  font-size: 16px !important;
}
