.container {
  display: flex;
  flex-direction: row;
  width: auto;
  margin-top: 60px;
  padding-left: 5px;
  padding-right: 5px;
}

.section {
  flex: 2;
}

.section1 {
  background-color: white; /* light blue */
  flex: 7;
}

.section2 {
  background-color: white; /* blue */
}

.section3 {
  background-color: white; /* dark blue */
  position: relative;
  padding-bottom: 100px;
}

.สถานที่แนะนำ_container {
  display: flex;
  flex-direction: row;
  width: auto;
  margin: 0 auto;
  padding-top: 20px;
}

.สถานที่แนะนำ_header {
  display: flex;
  flex-direction: row;
  width: auto;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

/* Split "สถานที่แนะนำ_container" into four equal parts */
.สถานที่แนะนำ_container > div {
  width: 25%;
}

.TA_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
  row-gap: 20px;
  column-gap: 20px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

@media (max-width: 767px) {
  .TA_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .TA_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.TA_preview {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.TA_thumbnail {
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  position: relative;
  overflow: hidden;
}

.TA_thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.TA_info_grid {
  margin-top: 10px;
  text-align: left;
}

.TA_info_grid h4 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.TA_info_grid p {
  margin: 5px 0 0 0;
  font-size: 18px;
  line-height: 1.4;
}



@media (max-width: 1023px) {
  .TA_preview:nth-child(n+3) {
    display: none;
  }
}

.plusInCircle_icon,
.map_icon,
.bin_icon{
  width: 24px;
}

.plusInCircle_icon{
  margin-left: 3px;
  margin-left: -2px;
}

.map_icon,
.bin_icon{
  right: 0;
  margin-right: 3px;
}

.lastLine_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
}

.plusInCircle_icon_Btn,
.icon_Btn,
.myPlan_plusInCircle_icon_Btn,
.myPlan_icon_Btn{
  background-color: transparent;
  border: none;
}

.list_container{
  display: grid;
  row-gap: 10px;
  margin-top: 60px;
  padding-left: 5px;
  padding-right: 5px;
}

.list_preview,
.myPlan_preview{
  display: grid;
  row-gap: 8px;
  background-color: lightgray;
}

.list_middleLine_container,
.myPlan_middleLine_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list_title,
.myPlan_title{
  font-weight: 700;
  font-size: 22px;
}

.myPlan_container{
  display: grid;
  row-gap: 10px;
  margin-top: 60px;
}

.myPlan_preview{
  display: grid;
  row-gap: 8px;
  background-color: lightgray;

}

.myPlan_button {
  position: absolute; /* position the button absolutely */
  bottom: 0; /* position the button at the bottom of the container */
  left: 50%; /* position the button in the center of the container */
  transform: translateX(-50%); /* center the button horizontally */
  background-color: #E5634B;
  border: none;
  margin-bottom: 10px;
  width: 100px;
  height: 36px;
  display: inline-block;
  text-align: center;
  justify-content: center;
  max-width: 100px;
  font-weight: 500;
  color: white;
  font-size: 1.2rem;
  border-radius: 50px;
  transition: background-color color 0.5s ease;
  text-decoration: none;
  padding-top: 12px;
}


.myPlan_button:hover{
  cursor: pointer;
  background-color: white;
  color: #E5634B;
}

.popup {
  display: none;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  max-width: 600px;
  max-height: 300px;
  padding: 20px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
  border-radius: 20px;
}

.popup.show {
  display: block;
}

.popup_container{
  display: grid;
}
.popup_firstline{
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  
}

.input_container input{
  display: flex;
  width: 80%;
  height: 30px;
  margin-left: 5px;
}

.input_container div{
  font-size: 18px;
  font-weight: 600;
}

.popup_lastline{
  margin-top: 40px;
  justify-content: space-around;
  align-items: center;
  display:  flex;
  
}

.popup_cancel_button{
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background-color: lightgray;
  color: white;
  font-size: 20px;
}

.popup_save_button{
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background-color: #E5634B;
  color: white;
  font-size: 20px;
}

.add_place_Btn{
  background-color: #E5634B;
  border: none;
  border-radius: 50px;
}

.add_place_icon{
  width: 24px;
}